@(phoneBook: List[Phone], phoneForm: Form[Phone])

@import helper._

@main("PhoneBook") {
    
    <h1>@phoneBook.size() phone(s)</h1>
    
    <table >
        @for(phone <- phoneBook) {
            <tr>
                <td>@phone.id   </td>
                <td>@phone.name   </td>
                
                <td>@phone.mainNumber  <td>
                
                <a href="/deletePhone/@phone.id"> <input type="button" value ="Delete"> </a>
            </tr>
    }
    </table>
    
    <h2>Add a new task</h2>
    
    @form(routes.Application.newPhone()) {
        
        @inputText(phoneForm("Name")) 
        @inputText(phoneForm("mainNumber")) 
        
        <input type="submit" value="Create">
        
    }
    
}